In [1]:
import joblib
import json
import numpy as np
import pandas as pd

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier

In [2]:
df = pd.read_csv('https://raw.githubusercontent.com/pplonski/datasets-for-start/master/adult/data.csv', skipinitialspace=True)

df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,income
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [3]:
x_cols = [c for c in df.columns if c != 'income']

X = df[x_cols]

y = df['income']

df.head()

y

0        <=50K
1        <=50K
2        <=50K
3        <=50K
4        <=50K
         ...
32556    <=50K
32557     >50K
32558    <=50K
32559    <=50K
32560     >50K
Name: income, Length: 32561, dtype: object

In [4]:
X_train, X_test, y_train, y_test =  train_test_split(
    X, y, test_size=0.3, random_state=1234
)
train_mode = dict(X_train.mode().iloc[0])

In [5]:
X_train = X_train.fillna(train_mode)

In [6]:
X_train

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country
29700,37,Private,34146,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,68,United-States
1529,37,Private,26898,HS-grad,9,Divorced,Exec-managerial,Unmarried,White,Female,0,0,12,United-States
27477,26,Private,190762,Some-college,10,Married-civ-spouse,Sales,Husband,White,Male,0,0,18,United-States
31950,35,Private,189092,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,United-States
4732,23,Private,260019,7th-8th,4,Never-married,Farming-fishing,Unmarried,Other,Male,0,0,36,Mexico
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
27852,24,Private,223367,11th,7,Never-married,Craft-repair,Unmarried,White,Male,0,0,40,United-States
23605,20,Private,127185,Some-college,10,Never-married,Prof-specialty,Own-child,White,Female,0,0,15,United-States
1318,41,State-gov,144928,Bachelors,13,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States
25299,40,Private,199303,HS-grad,9,Married-civ-spouse,Craft-repair,Husband,White,Male,0,0,40,United-States
27439,38,Private,38312,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,15024,0,65,United-States

In [7]:
encoders = {}

for column in ['workclass', 'education', 'marital-status',
                'occupation', 'relationship', 'race',
                'sex','native-country']:
    categorical_covert = LabelEncoder()
    X_train[column] = categorical_covert.fit_transform(X_train[column])
    encoders[column] = categorical_covert

In [8]:
encoders

{'workclass': LabelEncoder(),
 'education': LabelEncoder(),
 'marital-status': LabelEncoder(),
 'occupation': LabelEncoder(),
 'relationship': LabelEncoder(),
 'race': LabelEncoder(),
 'sex': LabelEncoder(),
 'native-country': LabelEncoder()}

In [9]:
# training the data

rf = RandomForestClassifier(n_estimators=100)
rf = rf.fit(X_train, y_train)
rf

RandomForestClassifier()

In [10]:
joblib.dump(train_mode, "./train_mode.joblib", compress=True)

['./train_mode.joblib']

In [11]:
joblib.dump(encoders, './encoders.joblib', compress=True)

['./encoders.joblib']

In [12]:
joblib.dump(rf, './random_forest.joblib', compress=True)

['./random_forest.joblib']

In [13]:
joblib.dump(et, "./extra_trees.joblib", compress=True)

NameError: name 'et' is not defined

In [16]:
et = ExtraTreesClassifier(n_estimators = 100)
et
print('ad')
et = et.fit(X_train, y_train)
print(et)

ad
ExtraTreesClassifier()

In [17]:
joblib.dump(et, "./extra_trees.joblib", compress=True)

['./extra_trees.joblib']